<div class="row-fluid">
	<table class="table table-bordered table-striped formLayout m0" style="margin-bottom:0px;">
		<tr>
			<td class="textR">编码:</td>
		    <td>
		    	<input type="text" id="s_code" name="s_code" placeholder="请输入编码"/>
		    </td>
		    <td class="textR">名称:</td>
		    <td>
		    	<input type="text" id="s_name" name="s_name" placeholder="请输入名称"/>
		    </td>
		</tr>
		<tr>
			<td class="textR">状态:</td>
			<td colspan="3">
				<select id="s_status" name="s_status" style="width:25%;">
					<option value="undefined">--请选择--</option>
					#foreach($statusOption in $!{statusOptions})
					<option value="$!{statusOption.value}">$!{statusOption.name}</option>
					#end
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="smaller">
					应用菜单树
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main" >
					<ul id="appResMenuTree" class="ztree"></ul>
				</div>
			</div>
		</div>
	</div><!-- /span -->

	<div class="col-sm-6">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="smaller">菜单基本信息</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main" id="appResMenuForm"></div>
			</div>
		</div>
	</div><!-- /span -->
</div><!-- /row -->
<script src="$!{staticRes}/plugin/zTree/jquery.ztree.core-3.5.js?v=$!{v}"></script>
<script src="$!{staticRes}/plugin/zTree/jquery.ztree.excheck-3.5.js?v=$!{v}"></script>
<script src="$!{staticRes}/plugin/zTree/jquery.ztree.exedit-3.5.min.js?v=$!{v}"></script>
<link rel="stylesheet" href="$!{staticRes}/plugin/zTree/css/zTreeStyle.css?v=$!{v}" />

<SCRIPT type="text/javascript">
	//应用资源管理JS对象
	var appResMgr = {
		curResType:"webapp.menu",//应用资源类型,默认菜单资源
		changeAppFlag:true,//改变应用时是否做操作,默认要
		init:function(){//初始化函数
			appResMgr.changeAppFlag=true;
			UIM.loadContainer("appResContainer","$!{system_basUrl}/popedom/appRes/loadPageByType",{resType:appResMgr.curResType});
		},
		changeResType:function(type){//修改应用资源类型
			appResMgr.curResType=type;
			if(appResMgr.curResType=='webapp.menu'){
				$("#btn_menu_gp").css("display","");
				$("#btn_other_gp").css("display","none");
			}else{
				$("#btn_menu_gp").css("display","none");
				$("#btn_other_gp").css("display","");
			}
			appResMgr.init();
		},
		addRes:function(){//新建资源
			if(appResMgr.curResType=="webapp.url"){//当前选中应用URL资源
				appResMgr.loadAddAppUrlPage();
			}else if(appResMgr.curResType=="webapp.api"){//当前选中Api资源
				appResMgr.loadAddAppApiPage();
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appResMgr.loadAddDataTypePage();
			}else if(appResMgr.curResType=="data"){//当前选中数据权限资源
				appResMgr.loadAddDataPage();
			}
		},
		changeApp:function(){//改变应用系统事件
			if(!appResMgr.changeAppFlag){
				return;//不做任何操作
			}
			if(appResMgr.curResType=="webapp.menu"){//当前选中应用菜单资源
				appResMenuMgr.searchTree();
			}else if(appResMgr.curResType=="webapp.url"){//当前选中应用URL资源
				appUrlMgm.reloadTable();
			}else if(appResMgr.curResType=="webapp.api"){//当前选中Api资源
				appApiMgm.reloadTable();
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appDataTypeMgm.reloadTable();
			}else if(appResMgr.curResType=="data"){//当前选中数据权限资源
				appDataMgm.searchTree();
			}
		},
		batchUpdateStatus:function(flag){//批量修改状态
			if(appResMgr.curResType=="webapp.menu"){//当前选中应用菜单资源
				appResMenuMgr.batchUpdateStatus(flag);
			}else if(appResMgr.curResType=="webapp.url"){//当前选中应用URL资源
				appUrlMgm.batchUpdateUrlStatus(flag);
			}else if(appResMgr.curResType=="webapp.api"){
				appApiMgm.batchUpdateApiStatus(flag);
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appDataTypeMgm.batchUpdateDataTypeStatus(flag);
			}else if(appResMgr.curResType=="data"){//当前选中数据权资源
				appDataMgm.batchUpdateDataStatus(flag);
			}
		},
		batchDel:function(){//批量物理删除
			if(appResMgr.curResType=="webapp.menu"){//当前选中应用菜单资源
				appResMenuMgr.batchDel();
			}else if(appResMgr.curResType=="webapp.url"){//当前选中应用URL资源
				appUrlMgm.batchDel();
			}else if(appResMgr.curResType=="webapp.api"){//当前选中API资源
				appApiMgm.batchDel();
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appDataTypeMgm.batchDel();
			}else if(appResMgr.curResType=="data"){//当前选中数据权资源
				appDataMgm.batchDel();
			}
		},
		loadAddMenuPage:function(flag){//加载新增菜单界面
			if(appResMgr.curResType!="webapp.menu"){
				alert("当前显示的资源类型为非菜单资源,请切换到菜单资源再操作!");
				return;
			}
			appResMenuMgr.loadAddMenuPage(flag);
		},
		loadAddMenuFunPage:function(){//打开新建菜单功能界面
			if(appResMgr.curResType!="webapp.menu"){
				alert("当前显示的资源类型为非菜单资源,请切换到菜单资源再操作!");
				return;
			}
			appResMenuMgr.loadAddMenuFunPage();
		},
		loadAddAppUrlPage:function(){//打开新增URL资源界面
			if(appResMgr.curResType!="webapp.url"){
				alert("当前显示的资源类型为非URL资源,请切换到URL资源再操作!");
				return;
			}
			appResMgr.changeAppFlag=false;
			appUrlMgm.loadAddAppUrlPage();
		},
		loadAddAppApiPage:function(){//打开新建API资源界面
			if(appResMgr.curResType!="webapp.api"){
				alert("当前显示的资源类型为非API资源,请切换到API资源再操作!");
				return;
			}
			appResMgr.changeAppFlag=false;
			appApiMgm.loadAddAppApiPage();
		},
		loadAddDataTypePage:function(){//打开新建数据权限分类资源界面
			if(appResMgr.curResType!="data.type"){
				alert("当前显示的资源类型为非数据权限分类资源,请切换到数据权限分类资源再操作!");
				return;
			}
			appDataTypeMgm.loadAddAppDataTypePage();
		},
		loadAddDataPage:function(){//打开新增数据权限资源界面
			if(appResMgr.curResType!="data"){
				alert("当前显示的资源类型为非数据权限资源,请切换到数据权限资源再操作!");
				return;
			}
			appDataMgm.toAddDataPage();
		},
		updateRes:function(){//修改资源
			appResMgr.changeAppFlag=false;
			if(appResMgr.curResType=="webapp.url"){//当前选择的是URL资源
				appUrlMgm.toUpdateUrlPage();
			}else if(appResMgr.curResType=="webapp.api"){//当前选择的是API资源
				appApiMgm.toUpdateUrlPage();
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appResMgr.changeAppFlag=true;
				appDataTypeMgm.toUpdateDataTypePage();
			}else if(appResMgr.curResType=="data"){//当前选中数据权资源
				appResMgr.changeAppFlag=true;
				appDataMgm.toUpdateDataPage();
			}else{
				appResMgr.changeAppFlag=true;
				alert("当前选择的资源类型,可以通过点击树节点直接修改");
			}
		},
		toResInfo:function(){//打开资源明细
			appResMgr.changeAppFlag=false;
			if(appResMgr.curResType=="webapp.url"){//当前选择的是URL资源
				appUrlMgm.toAppUrlInfoPage();
			}else if(appResMgr.curResType=="webapp.api"){//当前选择的是API资源
				appApiMgm.toAppApiInfoPage();
			}else if(appResMgr.curResType=="data.type"){//当前选中数据权分类资源
				appResMgr.changeAppFlag=true;
				appDataTypeMgm.toAppDataTypeInfoPage();
			}else if(appResMgr.curResType=="data"){//当前选中数据权资源
				appResMgr.changeAppFlag=true;
				appDataMgm.toAppDataInfoPage();
			}else{
				appResMgr.changeAppFlag=true;
				alert("当前选择的资源类型,可以通过点击树节点直接查看明细");
			}
		}
	};
	UIM.load=appResMgr.init;
</SCRIPT>
