#parse("common/edit/head.vm")
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="name"> 名称: </label>
		<div class="col-sm-9">
			<input type="text" id="name" mame="name" class="col-xs-10 col-sm-5" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="key"> 键: </label>
		<div class="col-sm-9">
			<input type="text" id="key" mame="key" class="col-xs-10 col-sm-5" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="value"> 值: </label>
		<textarea id="value" name="value" class="col-xs-10 col-sm-5"></textarea>
	</div>
#parse("common/edit/append-fields.vm")
	
#parse("common/edit/bottom.vm")
