#parse("common/index/head.vm")

<th>ID</th>
<th>名称</th>
<th>键</th>
<th>值</th>
<th>更新时间</th>
<th>更新者</th>
#parse("common/index/bottom.vm")


##导入js
<script src="$!{localStaticRes}/js/sys/config.js?v=$!{v}"></script>