<div class="table-header">
	$!{pageTitle}
	#parse("common/toolbar/body.vm")
</div>
<div class="table-responsive">
	<table id="$!{datatableIdentifer}" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center" style="width:5%;">
					<label>
						<input id="$!{checkboxIdentifer}" type="checkbox" class="ace" title="全选/反选" onclick="GLOBAL_VAR.MVC.CURD.switchCheckboxCheckedStatus();" />
						<span class="lbl"></span>
					</label>
				</th>
				